{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
{{ if (isset $.Site.Params "fontawesomekit" )}}
<script src="https://kit.fontawesome.com/{{$.Site.Params.fontawesomekit}}.js" crossorigin="anonymous"></script>
{{ end }}
{{- /* Footer custom content area end */ -}}
